@import "./variables.scss";

.app-background-img{
    background: $bodyBackground;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card__li{
    font-size: 18px;
    width: 15rem;
}

.card-body-position-el{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.carousel{
    position: relative; 
    overflow-x: hidden;
}

